/* {
    padding: 0;
    margin: 0;
}*/

html {
    font-family: 'Sintony', sans-serif;
    background-color: #f8f8f8;
    background-image: url(images/draft-background.png);
    background-position-x: right;
    background-position-y: 5%;
    background-size: 75%;
    background-repeat: no-repeat;
}

nav {
    display: block;
    position: fixed;
    width: 100%;
    height: 48px;
    top: 0%;
    padding: 12px;
    text-align: center;

    background: #ffffff;
    box-shadow: 0px 2px 2px #eeeeee;
    
}

header {
    padding: 25% 5% 10% 5%;
}

button {
    color: black;
}

div {
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 10% 0%;
}

div.navbar {
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 0%;
}

footer {
    align-content: center;
    text-align: center;
    background-color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222
}

p {
    font-size: 100%;
}

table {
    align-content: center;
    text-align: center;
    align-items: center
}

td {
    background: #eeeeee;
}

a {
    text-decoration: none;
}

#slogan {
    letter-spacing: 0.5em;
}

button {
    display: inline-block;
    width: 200px;
    height: 48px;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 0.5em;
}

#logo {
    display: block;
    position: fixed;
    left: 10%;
}

form {
    display: inline-block;
    align-items: center;
    width: 25%;
    align-content: center;
}

input, textarea {
    width: 300px;
}

.submit {
    height: 48px;
    
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 0.5em;
}

.gallery {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}